
.attendance {
    text-align: center;
    padding-top: 15%;
}

.status-badge__item {
    font-size: 20px;
    background-color: #e5e7eb;
    padding: 5px 20px;
    border-radius: 9999px;
    color: #4b5563;
    margin-bottom: 2rem;
    display: inline-block;
}

.date {
    font-size: 1.875rem;
    margin-bottom: 2rem;
}

.time {
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 2rem;
}

.attendance-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.attendance-btn {
    background-color: #000;
    color: #fff;
    padding: 0.75rem 4rem;
    border-radius: 0.375rem;
    font-size: 1.125rem;
    font-weight: bold;
    transition: background-color 0.2s;
}

.attendance-btn.break-btn,
.attendance-btn.break-return-btn {
    background-color: #fff;
    color: #000;
}

.leaving_message {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.attendance__list {
    display: flex;
    align-items: center;
    margin: 20px 0 70px 0;
}
.vertical-bar {
    width: 6px;
    height: 36px;
    background-color: #000;
}

.heading-text {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    margin: 0 20px;
}

.month-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    margin: 30px auto;
    border-radius: 5px;
    width: 100%;
}

.month-nav-button {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #666;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 8px;
}

.btn.btn-primary {
    background-color: #fff;
    color: #666;
    padding: 5px 5px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    max-width: 50px;
    text-decoration: none;
    font-size: 15px;
}

.month-nav-button:hover {
    color: #333;
}

.current-month {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;
    background-color: #fff;
}

.calendar-icon {
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.arrow {
    color: #666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    background-color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.table-container {
    background-color: #fff;
    border-radius: 5px;
}
.attendance-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff;
    color: #666;
    text-align: left;
    border-radius: 5px;
    overflow: hidden;
}

.attendance-table thead tr {
    border-bottom: 3px solid #e5e7eb;
}

.attendance-table th {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 3px solid #e5e7eb;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.attendance-table td {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #e5e7eb;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.attendance-table .detail-link {
    color: #000;
    text-decoration: none;
}

.form-container {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.form-disabled input,
.form-disabled span,
.form-disabled textarea {
    border: none;
    background-color: transparent;
    color: #000;
    cursor: not-allowed;
    pointer-events: none;
    text-align: left;
    min-width: 10ch;
    height: 40px;
}

.form-active input {
    border: 1px solid #ddd;
    background-color: white;
    color: #000;
    display: block;
    width: 180px;
}

.form-active textarea {
    height: 100px;
}

.form-group {
    background-color: white;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e5e7eb;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.form-group__break {
    background-color: white;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e5e7eb;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.form-group:last-child {
    border-radius: 0 0 8px 8px;
}

label {
    font-weight: bold;
    background-color: white;
    width: 20%;
    color: #666;
    letter-spacing: 0.1em;
}

input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.1em;
}

span {
    background-color: white;
    margin: 0 10px;
}

.time-range, .time-range__request {
    background-color: white;
    width: 80%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    gap: 8px;
}

.user-name {
    background-color: white;
    width: 80%;
    padding:5px 8px;
    display: flex;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-left: 0;
}

.break-row {
    background-color: white;
    width: 80%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.form-text, .form-text__request {
    width: 80%;
    padding: 0 10%;
    display: flex;
    background-color: white;
}

.form-text-content {
    width: 100%;
    height: 100px;
    padding: 5px 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 4px;
}

.button-container {
    text-align: right;
    padding: 20px 0;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.pending-message {
    color: #f77879;
    background-color: #F0EFF2;
}

.submit-btn {
    background-color: #000;
    color: #fff;
    padding: 5px 40px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 5%;
    border: none;
    cursor: pointer;
}

.submit-btn-disabled {
    background-color: #696969;
    color: #fff;
    padding: 5px 40px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 5%;
    border: none;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: left;
    padding: 10px 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid #000;
}

.tab {
    padding: 10px 30px;
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

.tab.active {
    font-weight: bold;
}

.form-group_content {
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 0 30% 0 10%;
    background-color: white;
}

.form-group_content-detail {
    background-color: white;
    font-weight: bold;
}

.error-message {
    color: #ff333f;
    margin-top: 15px;
    font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .time-range {
        padding: 0 5%;
    }

    .time-range__request {
        padding: 0 10%;
    }

    .form-text {
        padding: 0 5%;
    }

    .form-text__request {
        padding: 0 10%;
    }
}