

.attendance {
    text-align: center;
    padding-top: 15%;
}

.status-badge {
    font-size: 20px;
    background-color: #e5e7eb;
    padding: 0.25rem 1rem;
    border-radius: 9999px;
    color: #4b5563;
    margin-bottom: 2rem;
}

.date {
    font-size: 1.875rem;
    margin-bottom: 2rem;
}

.time {
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 2rem;
}

.attendance-btn {
    background-color: #000;
    color: #fff;
    padding: 0.75rem 4rem;
    border-radius: 0.375rem;
    font-size: 1.125rem;
    font-weight: 500;
    transition: background-color 0.2s;
}

.attendance__list {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.vertical-bar {
    width: 6px;
    height: 36px;
    background-color: #000;
}

.heading-text {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    margin: 0 20px;
}

.month-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    max-width: 800px;
    margin: 30px auto;
    border-radius: 5px;
}

.month-nav-button {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #666;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 8px;
}

.month-nav-button:hover {
    color: #333;
}

.current-month {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;
    background-color: #fff;
}

.calendar-icon {
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.arrow {
    border: solid #666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 2px;
    background-color: #fff;
}

.arrow-left {
    transform: rotate(135deg);
}

.arrow-right {
    transform: rotate(-45deg);
}


.table-container {
    background-color: #fff;
    border-radius: 5px;
}
.attendance-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff;
    color: #666;
    text-align: left;
    border-radius: 5px;
    overflow: hidden;
}

.attendance-table thead tr {
    border-bottom: 3px solid #e5e7eb;
}

.attendance-table th {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 3px solid #e5e7eb;
    font-weight: bold;
}

.attendance-table td {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #e5e7eb;
    font-weight: bold;
}

.attendance-table .detail-link {
    color: #000;
    text-decoration: none;
}

.form-container {
    background-color: white;
    border-radius: 8px;
}

.form-group {
    background-color: white;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e5e7eb;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

label {
    font-weight: bold;
    background-color: white;
    width: 20%;
    color: #666;
}

input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

span {
    background-color: white;
}

.time-range {
    background-color: white;
    width: 80%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.form-text {
    width: 80%;
    padding: 0 10%;
    display: flex;
    background-color: white;
}

.form-text-content {
    width: 100%;
    text-align: left;
}

.button-container {
    text-align: right;
}

.submit-btn {
    background-color: #000;
    color: #fff;
    padding: 5px 40px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10%;
    border: none;
    cursor: pointer;
}